.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.icon {
  width: var(--space-2xl);
  height: var(--space-2xl);
  margin-bottom: var(--space-sm);
  color: var(--foreground);
  stroke-width: 1.5px;
}

.title {
  margin-bottom: var(--space-2xs);
  color: var(--foreground);
  font-size: var(--font-size-lg);
  font-weight: 600;
  line-height: var(--line-height-md);
}

.subtitle {
  color: var(--muted);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
