.modalContent {
  max-height: 70vh;
  overflow-y: scroll;
  padding-right: 8px;

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--surface-secondary);
    border-radius: var(--radius-sm);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  b {
    font-size: 20px;
  }
}
