.modalContent {
  max-height: 70vh;
  overflow-y: scroll;
  padding-right: var(--ant-padding-xs);

  &::-webkit-scrollbar {
    width: var(--ant-scrollbar-width);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--ant-color-fill-secondary);
    border-radius: var(--ant-border-radius-sm);
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  b {
    font-size: var(--ant-font-size-xl);
  }
}

