.menuContainer {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 8px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ant-color-fill-tertiary);
    border-radius: 2px;
  }

  :global(.ant-menu-light.ant-menu-root.ant-menu-inline) {
    border-inline-end: none !important;
  }
}
