.quotaItem {
  width: 100%;
}

.tableWrapper {
  border: 1px solid var(--ant-color-border);
  border-radius: var(--ant-border-radius-lg);
  overflow: hidden;
  background-color: var(--ant-color-bg-container);

  :global(.ant-pagination) {
    margin: var(--ant-margin-md) 0;
    padding: 0 var(--ant-padding-md);
  }
}
