@import '../style.module.less';

.editorWrapper {
  flex: 1;
  min-height: 0;
  max-width: @note-content-max-width;
  width: 100%;
  margin: 0 auto 0;
  padding: var(--ant-padding-lg) @note-content-padding-x;
}
