.wrapper {
  padding: var(--ant-padding-md);
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:has(.tree) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.tree {
  font-size: var(--ant-font-size-sm);

  :global(.ant-tree-treenode) {
    padding: 2px 0;
  }

  :global(.ant-tree-switcher) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  :global(.ant-tree-switcher-icon) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
}

.tagNode {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: var(--ant-font-size-md);
  padding: 2px 8px;
  line-height: 1.5;
}

.switcherIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
