.quotaBar {
  width: 100%;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-areas: 'track output';
  align-items: center;
  column-gap: 12px;
}

.quotaBarTrack {
  grid-area: track;
}

.quotaBarText {
  grid-area: output;
  white-space: nowrap;
}
