.noteInfoBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  gap: var(--ant-margin-xs);
  color: var(--ant-color-text-secondary);
  font-size: var(--ant-font-size-sm);
}

.noteInfoItem {
  display: inline-flex;
  align-items: center;
  gap: var(--ant-margin-xs);
}

.authorsInfoItem {
  margin-left: 50px;
}

.noteInfoLabel {
  color: var(--ant-color-text-description);
}

.noteInfoValue {
  color: var(--ant-color-text-secondary);
}

.infoDivider {
  height: 14px;
  margin-inline: var(--ant-margin-xs) !important;
}

.authorsWrap {
  display: inline-flex;
  align-items: center;
  gap: var(--ant-margin-lg);
  flex-wrap: wrap;
}

.authorItem {
  display: inline-flex;
  align-items: center;
  gap: var(--ant-margin-sm);
}
