.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.control {
  flex-shrink: 0;
}

.indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
