@import '../style.module.less';

.titleWrapper {
  max-width: @note-content-max-width;
  width: 100%;
  margin: var(--ant-margin-lg) auto;
  padding: var(--ant-padding-lg) @note-content-padding-x 0;
}
