.askAiBtn {
  align-self: center;
  margin-left: var(--ant-margin-xs);
  margin-right: var(--ant-margin-xs);
  margin-top: var(--ant-margin-xss);
  margin-bottom: var(--ant-margin-xss);
  :global(.ant-btn-icon) {
    line-height: 1;
  }
}
