.toolbarPopover {
  position: fixed;
  z-index: 40;
  transform: translate(-50%, -100%);
}

.askAiBtn {
  align-self: center;
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}
