.wrapper {
  margin-top: var(--ant-margin-md);
}

.title {
  margin-bottom: var(--ant-margin-sm);
  font-weight: var(--ant-font-weight-md);
  color: var(--ant-color-text-secondary);
}

.list {
  overflow-y: auto;
  margin-bottom: var(--ant-margin-md);
  max-height: 300px;
}
